{% load staticfiles %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Smarty</title>
	<link rel="stylesheet" type="text/css" href="{% static 'WebServerApp/css/bootstrap.min.css' %}"/>	
  <link rel="stylesheet" href="{% static 'WebServerApp/css/starter-template.css' %}">
  <link rel="stylesheet" href="{% static 'WebServerApp/css/tooltip.css' %}"> 
  <link rel="stylesheet" href="{% static 'WebServerApp/css/offcanvas.css' %}">
  <link rel="stylesheet" href="{% static 'WebServerApp/css/datepicker.css' %}">  
  <script type="text/javascript" src="{% static 'WebServerApp/js/dropdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'WebServerApp/js/jquery.js' %}"></script>    
  <script type="text/javascript" src="{% static 'WebServerApp/js/bootstrap.min.js' %}"></script>    
  <script type="text/javascript" src="{% static 'WebServerApp/js/tooltip.js' %}"></script>  
  <script type="text/javascript" src="{% static 'WebServerApp/js/bootstrap-tooltip.js' %}"></script>      
  <script type="text/javascript" src="{% static 'WebServerApp/js/offcanvas.js' %}"></script>    
  <script type="text/javascript" src="{% static 'WebServerApp/js/bootstrap-datepicker.js' %}"></script> 
      <style type="text/css">

      #container {
        width : 600px;
        height: 284px;
        margin: 8px auto;
      }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Smarty</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Map<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for floor in floors %}
                  <li><a href="/map/{{floor}}">Floor {{floor}}</a></li>
                {% endfor %}
              </ul>
            </li>         
            <li><a href="/about">About</a></li>          
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="well sidebar-nav">
        <ul class="nav">
          <li>Devices</li>
          {% for id, deviceName in deviceList.items %}
            <li><a href={%url 'getDeviceState' id%}>{{ deviceName }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% block content %} {% endblock %}

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <p class="text-muted"><a href="/">Smarty</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Smart house system</p>
      </div>
  </nav>
  <script type="text/javascript">
    $(".input-group.date").datepicker({ autoclose: true, todayHighlight: true });
  </script

</body>