{% extends "WebServerApp/base.html" %}

{% block content %}
	<div class="starter-template">
		<h1>Your sport diary, my Lord.</h1>
	</div>

  	<div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
      	<div class="col-xs-12 col-sm-9">

			<table class="table table-hover">
				<tr>
					<th>Date</th>
					<th>Exercise</th>
					<th>Details</th>
				</tr>
				{% for event in events %}
					<tr>
						<td>{{event.date}}</td>
						<td>{{event.exerciseType}}</td>
						<td><a href="{%url 'exerciseDetails' event.exerciseType event.date%}">Here</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	  </div>
	</div>	

{% endblock content %}
